@{
    ViewBag.Title = "Home Page";
}
<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <h1 class="ms-font-su">Démos Microsoft Graph</h1>
            <p class="ms-font-xl">
                Découvrez Microsoft Graph !<br />
                <a href="http://graph.microsoft.io" target="_blank">http://graph.microsoft.io</a>
            </p>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-u-xl4">
            <h2 class="ms-font-l">Office Dev Center</h2>
            <p class="ms-font-m-plus">
                <a href="http://dev.office.com/" target="_blank">http://dev.office.com/</a>
            </p>
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-u-xl4">
            <h2 class="ms-font-l">Graph Explorer</h2>
            <p class="ms-font-m-plus">
                <a href="https://graphexplorer2.azurewebsites.net/" target="_blank">https://graphexplorer2.azurewebsites.net/</a>
            </p>
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-u-xl4">   
            <h2 class="ms-font-l">GitHub Microsoft Graph</h2>
            <p class="ms-font-m-plus">
                Le GitHub dédié avec samples et documentation.<br />
                <a href="https://github.com/microsoftgraph/" target="_blank">https://github.com/microsoftgraph/</a>
            </p>
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-u-xl4">
            <h2 class="ms-font-l">Connectors</h2>
            <p class="ms-font-m-plus">
                Le centre de développement pour les connecteurs.<br />
                <a href="https://dev.outlook.com/connectors/" target="_blank">https://dev.outlook.com/connectors/</a>
            </p>
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-u-xl4">
            <h2 class="ms-font-l">Office UI Fabric</h2>
            <p class="ms-font-m-plus">
                Habillez votre application grâce.<br />
                <a href="http://dev.office.com/fabric/" target="_blank">http://dev.office.com/fabric/</a>
            </p>
        </div>
    </div>
</div>